*{
  box-sizing: border-box;
}
html,body{
  padding: 0px;
  margin: 0px;
}
.top-nav{
  border-bottom: 2px solid #a0a0a0;
}
.navbar-brand{
  display: inline-block;
  vertical-align: middle;
}
.nav-link{
  border-radius: 15px;
  border: 1px solid;
  margin-left: 15px;
  width: 100px;
  text-align: center;
}
