html,body{
  margin:0;
  padding:0;
}
.row{
  width:100%;
}
.row-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#navbar{
  padding: 10px 50px;
  >div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .identity{
    display:flex;
    flex-direction: row;
    align-content: center;
  }
  .logo{
    display: inline;
    padding: 10px;
  }
  .app-name{
    display: inline;
    align-self: center;
  }
}
.user-detail{
  display: flex;
  flex-direction: row;
  align-content: center;
  i{
    padding: 10px;
  }
  .user-name{
    padding: 10px;
  }
}
