asgiref==3.2.3
Django==3.0
django-filter==2.2.0
djangorestframework==3.10.3
html5lib==1.0.1
Markdown==3.1.1
nepali-date==2.0.2
numpy==1.17.4
pandas==0.25.3
Pillow==6.2.1
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2019.3
reportlab==3.5.32
six==1.13.0
sqlparse==0.3.0
webencodings==0.5.1
xhtml2pdf==0.2.3
