<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8" />
		<title>नेपाल आयल निगम कर्जा व्यवस्थापन प्रणाली </title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- basic styles -->
		<link rel="stylesheet" href="Css/bootstrap.min.css"/>

		<link rel="stylesheet" href="Css/font-awesome.min.css"/>

		<link rel="stylesheet" href="Css/ace-fonts.css"/>
		<link rel="stylesheet" href="Css/master.css">
		<!-- ace styles -->
		<link rel="stylesheet" href="Css/ace.min.css"/>
		<link rel="stylesheet" href="Css/ace-rtl.min.css"/>
		<link rel="stylesheet" href="Css/ace-skins.min.css"/>
<style type="text/css">
			#navbar{
				background:#f75279;
			}

		#dropdown-menu{
			background:#db093b;
		}
		}
		</style>
				<script type="text/javascript" src="/js/jquery-3.4.1.min.js">		</script>
		<script type="text/javascript" src="/js/bootstrap.min.js">		</script>
	</head>

	<body>
		<div class="navbar navbar-default" id="navbar">

			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="icon-leaf"></i>
							नेपाल आयल निगम
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->

				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">


						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle" id="dropdown-menu">
								<img class="nav-user-photo" src="assets/avatars/user.jpg" alt="Admin's Photo" />
								<span class="user-info">
									<small>Welcome</small>


								</span>

								<i class="icon-caret-down"></i>
							</a>

							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">


								<li>
									<a href="manageusers.php">
										<i class="icon-user"></i>


									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="logout.php">
										<i class="icon-off"></i>
										Logout
									</a>
								</li>
							</ul>
						</li>
					</ul><!-- /.ace-nav -->
				</div><!-- /.navbar-header -->
			</div><!-- /.container -->
		</div>
		<div class="main-container" id="main-container">

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

			 <!-- Sidebar Here -->

<div class="sidebar" id="sidebar">



					<ul class="nav nav-list">
						<li class="active">
							<a href="#">
								<i class="icon-dashboard"></i>
								<span class="menu-text"> Dashboard </span>
							</a>
						</li>

						<li>
							<a  class="dropdown-toggle" id="karjapra">
								<i class="icon-user"></i>
								<span class="menu-text"> कर्जा प्रमाणीकरण</span>
							</a>
						</li>


						<li>
							<a  class="dropdown-toggle">
								<i class="icon-user"></i>
								<span class="menu-text"> कर्जा व्यवस्थापन</span>
							</a>
						</li>


						<li>
							<a  class="dropdown-toggle">
								<i class="icon-user"></i>
								<span class="menu-text"> कर्जा भुक्तानी</span>
							</a>
						</li>

                      <ul class="nav nav-list">
						<li>
							<a class="dropdown-toggle" id="loanApply">
								<i class="icon-comment"></i>
								<span class="menu-text"> कर्जा आवेदन</span>

							</a>
						</li>



					<div class="sidebar-collapse" id="sidebar-collapse">
						<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
					</div>

					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}

					</script>

				</div>

				<div class="main-content">

					<div class="page-content">
						<div class="page-header">
							<h1>
								Dashboard

							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="alert alert-block alert-success">
									<button type="button" class="close" data-dismiss="alert">
										<i class="icon-remove"></i>
									</button>

									<i class="icon-ok green"></i>

								नेपाल आयल निगम कर्जा व्यवस्थापन प्रणालीमा
									<strong class="green">
									स्वागत छ।
									</strong>
									<h6 style="color:blue"> </h6>
								</div>
							</div>
<div class="app" id="app">

</div>
<div id="loan_data"></div>



		</div><!-- /.main-container -->

		<div class="ace-settings-container" id="ace-settings-container">
		<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
		<i class="icon-cog bigger-150"></i>
		</div>

		<div class="ace-settings-box" id="ace-settings-box">
		<div>
		<div class="pull-left">
		<select id="skin-colorpicker" class="hide">
		<option data-skin="skin-2" value="#438EB9">#438EB9</option>
		<option data-skin="skin-1" value="#222A2D">#222A2D</option>
		<option data-skin="default" value="#C6487E">#C6487E</option>
		<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
		</select>
		</div>
		<span>&nbsp; Choose Skin</span>
		</div>
</div>
</div>
</div>
</div>
</div>
</div>
		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='{js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='{js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="assets/js/excanvas.min.js"></script>
		<![endif]-->



		<!-- inline scripts related to this page -->

<!-- All hidden blocks start here -->

<div class='anusuchi-form' id='loanApplyForm'>
	<form class='' action='index.html' method='post'>

		<h1 class='t-center'>अनुसुचि १ बमोजिमको दसताखात फारम</h1>
		<p> कार्यकारी निर्देशक ज्यु</p>
		<p>नेपाल आयल निगम लि.</p>
		<p> केन्दि्य कार्यालय </p>
		<p> बबरमल काठमाडौं </p>
		<h2 class='t-center'>बिसय:- सापटी स्व्कृतिको निबेदन पेस गरेको </h2>
		<p>निगमको कर्मचारी सापटी सम्बन्धि निदेशिका, २०५३ अन्सारको सापटी सुविधा स्वीकृत हन देहाय अनुसारको ववरण समेत उल्लेख गरियो निवदन पेसगरेको छु । साथै सापटीको लागि उक्त निर्देसिकाले ब्यबस्था गरेको सबै शर्तहरु पालना गर्न मेरो मन्जुरी छ ।</p>
		<span>पुरा नाम:<input type='text' name='name' id="name" ></span>
		<span>पारिचय न.<input type='text' name='identify-no'></span>
		<span>हालको ठेगाना<input type='text' name='r-address'></span>
		<span>स्थायी ठेगान<input type='text' name='p-address'></span><br>
		<span>जन्म मिति<input type='date' name='birth-date'></span>
		<h4>स्थायी नियुक्ति </h4>
		<span>पद<input type='text' name='position'></span>
		<span>तह<input type='text' name='label'></span>
		<span>कार्यालय<input type='text' name='o-office'></span>
		<h4>हाल कार्यरत</h4>
		<span>पद<input type='text' name='position'></span>
		<span>तह<input type='text' name='label'></span>
		<span>कार्यालय<input type='text' name='n-office'></span>
		<h4>बिचमा स्थायी सेवा टुटेको नटुटेको</h4>
		<span><input type='radio' name='service' >टुटेको</span>  <input type='text' name='service-l' placeholder='टुटेको अवधि'></span><br>
		<span><input type='radio' name='service' >नटुटेको</span><br>
		<h4>अंतर कार्यालय सरुवा भई आएको भए अवधि सहितको विवरण <br>
			<input type='file' name='transfer'>
		</h4><br>
		<h4>गएल वा असाधारण ( वेतलवी ) विदामा बसेको भए अवधि सहितको विवरण <br>
		<input type='file' name='holiday'>
		</h4> <br>
		<span>नागरिकता प्रमाणपत्र नं.  <input type='text' name='nagtita-no' class='short'></span>
		<span>जारी जिल्ला <input type='text' name='district' class='short'></span>
		<span>जारी मिति <input type='date' name='issue-date'></span>
		<span>कुन प्रयोजनको लागि सापटी माग गरेको <select name='loan-type'>
			<option value='social loan'>समाजिक सपटि</option>
	</select>
		 </span>
		 <span>सापटी उपभोग गाने स्थान : <input type='text' name='location'> </span>
</form>
<button type='button' name='submit' id="submit">Submit</button>
</div>


<!-- second block start -->
<div id="karja">
<table style="width: 100%;">
	<thead>
		<tr>
			<td><b>Name</b></td>
			<td><b>ID</b></td>
			<td><b>Position</b></td>
			<td><b>Loan Amount</b></td>
			<td><b>Status</b></td>
		</tr>
	</thead>
	<tbody id="loanemployeedata">
		
	</tbody>
</table>
</div>
<!-- second block end -->


<script src="js/app.js"></script>
	</body>


</html>
