<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<style type="text/css">
		form{
			
			padding:0 10px 10px 10px;
			display: inline-block;
			
		}
		div{
			background: #d5d5d5;
			margin: 100px auto;
			width: 370px;
			text-align: center;
			padding: 20px;
		}
		body{
			background: #00000070;
		}
	</style>
</head>
<body>
	<div>
		<h1>LOGIN</h1>
	<form id="login">
		<span>Username: <input type="text" id="uname"></span><br>
		<span>Password: <input type="Password" id="pass"></span><br><br>
		<button id="btn">Submit</button>
	</form>
	</div>

</body>
</html>